@charset "utf-8";
@import url("ornament.css");
* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
figure img, figure iframe, h1 img {
    width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
section {
    margin-bottom: 3em;
}
section p{
    line-height: 1.5;
}
body {
    font-family: "Kosugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff3e0; /* 明るいオレンジ色 */
    color: #333;
    padding: 10px;
    background-image: url("../images/wave-haikeigreen.svg");
    background-position: 0% 46%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size:1.6rem;
}
header {
    padding: 20px;
    text-align: center;
}
.charm li,.usage li{
    padding-bottom: 1em;
}
ul {
    list-style-type: none; /* リストのデフォルトスタイルを無効化 */
}
h1 {
        display: block;
    width: 100%;
    height: 210px;
    background-image: url(../images/griffon.png);
    background-repeat: no-repeat;
    background-position: center 65px;
    background-size: 170px;

}
h2{
        background-color: #e6e4e4;
}
h2,h1,.circle-text span{
    margin-bottom: 20px;
    font-size:30px;
    text-align: center;
      font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
    padding:0 20px;
    background-color: #fff;
    max-width: 375px;
    margin: 0px auto;
    border: 2px solid #000;
    width: 95%;
}
.item-list ,.flavor-list{
    list-style-type: none;
    margin: 20px 0;
    width: 100%;
}
.item ,.flavor-item{
    width: 54%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #ffcc00;
    position: relative;
    margin-bottom: 2em; /* アイテム間のマージン */
    text-align: center; /* テキストを中央揃え */
}
.flavor-item {
    width: 45%;
}
.item .tape,.flavor-list .tape{
padding: 9px 20px;
    background-color: rgb(255 255 255 / 100%);
    position: absolute;
    top: -14px;
    left: 61px;
    box-shadow: 0 2px 4px #2e2e2e;
    transform: rotate(20deg);
    z-index: 2;

}
.flavor-item:first-child,.item:first-child{
     
    margin-top: 30px;

}
.item:nth-child(even){
    margin: -42px 0 -14px auto;
}
.flavor-item:nth-child(even) {
    margin: -117px 0 -14px auto;
}
li img {
    max-width: 100%; /* 画像の幅をアイテムの幅に合わせる */
    height: auto; /* 高さを自動調整 */
    border-radius: 8px; /* 画像の角を丸くする */
    margin-bottom: 8px; /* 画像とテキストの間にスペースを追加 */
}
.flavor{
    text-align: center;
}
.cta-button{
    text-align: center;
}
.cta {
    background-color: #ffcc00;
    display: inline-block;
    color: #333;
    padding: 1em 2em;
    text-align: center;
    border-radius: 5px;
      margin: 20px 20px 20px 95px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.cta:hover {
    transform: scale(1.05); /* ホバー時に少し拡大 */
    background-color: #e6b800; /* ホバー時に色を少し暗く */
    color: #fff; /* テキスト色を白に変更 */
}
.ingredient{
    font-size: 1.3rem;
    border: 1px solid;
    padding:10px;
    margin-top:20px;
    margin-bottom:20px;
}
.odoroki{
    display: block;
     margin-top: 10px;
    margin-bottom: 10px;
        text-align: center;
  animation: anime1 0.5s ease 0s infinite alternate;
  transform-origin:center;
}
@keyframes anime1 {
  from {
    transform: scale(1,1);
  }
  to {
    transform: scale(1.1,1.1);
  }
}
.woman-odoroki{
    position: absolute;
    width: 180px;
    top: 234px;
    transform: scale(-1, 1);
    left: -55px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.4rem;
    color: #777;
}
.highlight {
    color: #e65100; /* オレンジ色 */
    font-weight: bold;
    font-size: 18px;
}
#yaji{
    width:40px;
    margin:20px auto;
}
#about,#subsc{
    position: relative;
}
#subsc p{
        text-align: center;
}
#about .staff{
   position: absolute;
    width: 96px;
    right: 0px;
        top: 156px;
}
.woman{
width:150px;
    margin:0 auto;
}
#about p{
    width:69%;
}

.tennai{
    margin:20px 0;
}
.tennai img{
    border-radius: 10px;
}
.failures strong{
 font-size: 17px;
    color: #e65100;
    margin-bottom: 10px;
    display: inline-block;
}
.failures .sales{
    text-align: center;
}
.failures .cta{
     margin: 20px; 
}



.failures {
       background-color: #f9f9f9;
    padding: 20px 5px;
    border-radius: 8px;
    margin-top: 40px; /* 上部マージン */
    background-image:url("../images/chikachika.svg"),url("../images/chikachika.svg");
background-repeat: no-repeat,no-repeat;
    background-size: 40px 40px,40px 40px;
    background-position: bottom 101px right 11px, bottom 159px left 21px;}

.failures li {
    margin-bottom: 15px; /* 各アイテムの下にマージン */
    padding: 10px;
    border: 1px solid #ddd; /* ボーダーを追加 */
    border-radius: 5px;
    background-color: #fff; /* 各アイテムの背景色 */
}

#woman-fail {
     width: 167px;
    position: relative;
    top: -23px;
    left: 48%;
    margin-bottom: -162px;
    transform: rotate(13deg);
}

.logo-mv{
        width: 310px;
        margin: 0 auto -50px;
    position: relative;
  
}
#chika1,#chika2{
    position: absolute;
    width:62px;
    animation:  rotate 10s linear infinite;
}
#chika1{
       top: 116px;
    left: -20px;
}
#chika2{
       right: -4px;
    top: 187px;
}
#logo{
      z-index: 1;
    position: relative;
}

.keyvisual__scroll{
 width: calc((80% - 370px) / 2);
    max-width: 400px;
    position: fixed;
    top: 10vw;
    left: 2vw;
    display: none;
}

.keyvisual__scroll--circle{
  height: auto;
  width: 100%;
  animation: rotate 25s linear infinite;
}

.keyvisual__scroll--arrow{
 height: auto;
    width: 67%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

nav{
       width: calc((100% - 370px) / 2);
    position: fixed;
    top: 66px;
    right: 0px;
    padding-left: 20px;
    display: none;
}
nav ul {
  font-size: 16px;
  display: inline-block;
  list-style-type: none;
  height: 100%;
  overflow: auto;
}
nav a,.footer-nav a {
  color: #000;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  line-height: 1.3;
   background-color: none;
  transition: 0.5s;
}
nav a:hover {
  background-color: #ffcc00;
}



@media (min-width:800px){
    nav,.keyvisual__scroll{
        display:block; 
    }
    #chika1,#chika2{
    animation: none;
}
}
